<h1>Discussion Screen</h1>
<section class="wrap">
<div class="flex" *ngIf="participantsList">
<div class="rectangle" *ngFor="let participant of participantsList">
  <span>{{ participant.name }}</span>
  <span> - </span>
  <span>{{ participant.role }}</span>
<br>

  <button kendoButton [disabled]="(userService?.currentUser?.permission != permissionEnum.Admin && userService?.currentUser?.id != participant.id  ) " (click)="muteOrUnMicrophone(participant.id)">
    <span *ngIf="participant.muted">הפעל</span>
    <span *ngIf="!participant.muted">השתק</span>

  </button>
</div>
</div>
<div>
{{userService?.currentUser?.name}}
<button *ngIf="userService?.currentUser?.permission == permissionEnum.Admin"(click)="muteAllParticipants()">Mute All Participants</button>
</div>
</section>
